@model ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

<script>
    $(document).ready(function () {
        $('#@Html.IdFor(model => model.UseSandbox)').click(toggleUseSandbox);
        toggleUseSandbox();
    });

    function toggleUseSandbox() {
        if ($('#@Html.IdFor(model => model.UseSandbox)').is(':checked')) {
            $('#groupApplicationSecret').hide();
            $('#liveAccessToken').hide();
            $('#sandboxAccessToken').show();
            $('#liveApplicationId').hide();
            $('#sandboxApplicationId').show();
        } else {
            $('#groupApplicationSecret').show();
            $('#liveAccessToken').show();
            $('#sandboxAccessToken').hide();
            $('#liveApplicationId').show();
            $('#sandboxApplicationId').hide();
        }
    }
</script>

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="PaymentSquare" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <div style="margin: 0 0 10px;">
                    For plugin configuration, follow these steps:<br />
                    <br />
                    1. You will need a Square Merchant account. If you don't already have one, you can sign up here: <a href="https://squareup.com/t/cmtp_performance/pr_developers/d_partnerships/p_nopcommerce/?route=" target="_blank">https://squareup.com/</a><br />
                    2. Sign in to 'Square Merchant Dashboard'. Go to 'Account & Settings' &#8594; 'Locations' tab and create new location.<br />
                    <em>   Important: Your merchant account must have at least one location with enabled credit card processing. Please refer to the Square customer support if you have any questions about how to set this up.</em><br />
                    3. Sign in to your 'Square Developer Dashboard' at <a href="https://squareup.com/t/cmtp_performance/pr_developers/d_partnerships/p_nopcommerce/?route=developer" target="_blank">https://developer.squareup.com/</a>; use the same login credentials as your merchant account.<br />
                    4. Click on 'Create Your First Application' and fill in the 'Application Name'. This name is for you to recognize the application in the developer portal and is not used by the plugin. Click 'Create Application' at the bottom of the page.<br />
                    5. Now you are on the details page of the previously created application. On the 'Credentials' tab click on the 'Change Version' button and choose the latest one.<br />
                    6. Make sure you uncheck 'Use sandbox' below.<br />
                    7. In the 'Square Developer Dashboard' go to the details page of the your previously created application:
                    <ul>
                        <li>On the 'Credentials' tab make sure the 'Application mode' setting value is 'Production'</li>
                        <li>On the 'Credentials' tab copy the 'Application ID' and paste it into 'Application ID' below</li>
                        <li>Go to 'OAuth' tab. Click 'Show' on the 'Application Secret' field. Copy the 'Application Secret' and paste it into 'Application Secret' below</li>
                        <li>Copy this URL: <em>@Url.RouteUrl(SquarePaymentDefaults.AccessTokenRoute, null, webHelper.GetCurrentRequestProtocol())</em>. On the 'OAuth' tab paste this URL into 'Redirect URL'. Click 'Save'</li>
                    </ul>
                    8. Click 'Save' below to save the plugin configuration.<br />
                    9. Click 'Obtain access token' below; the Access token field should populate.<br />
                    <em>Note: If for whatever reason you would like to disable an access to your accounts, simply 'Revoke access tokens' below.</em><br />
                    10. Choose the previously created location. 'Location' is a required parameter for payment requests.<br />
                    11. Fill in the remaining fields and click 'Save' to complete the configuration.<br />
                    <br />
                    <em>Note: The payment form must be generated only on a webpage that uses HTTPS.</em><br />
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <nop-nested-setting asp-for="UseSandbox">
                    <div class="form-group row" id="sandboxApplicationId">
                        <div class="col-md-3">
                            <nop-label asp-for="SandboxApplicationId" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="SandboxApplicationId" asp-required="true" />
                            <span asp-validation-for="SandboxApplicationId"></span>
                        </div>
                    </div>
                    <div class="form-group row" id="sandboxAccessToken">
                        <div class="col-md-3">
                            <nop-label asp-for="SandboxAccessToken" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="SandboxAccessToken" asp-required="true" html-attributes="@(new { value = Model.SandboxAccessToken })" />
                            <span asp-validation-for="SandboxAccessToken"></span>
                        </div>
                    </div>
                </nop-nested-setting>
                <div class="form-group row" id="liveApplicationId">
                    <div class="col-md-3">
                        <nop-label asp-for="ApplicationId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApplicationId" asp-required="true" />
                        <span asp-validation-for="ApplicationId"></span>
                    </div>
                </div>
                <div class="form-group row" id="groupApplicationSecret">
                    <div class="col-md-3">
                        <nop-label asp-for="ApplicationSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApplicationSecret" asp-required="true" html-attributes="@(new { value = Model.ApplicationSecret })" />
                        <span asp-validation-for="ApplicationSecret"></span>
                    </div>
                </div>
                <div class="form-group row" id="liveAccessToken">
                    <div class="col-md-3">
                        <nop-label asp-for="AccessToken" />
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-required">
                            <nop-editor asp-for="AccessToken" asp-disabled="true" html-attributes="@(new { value = Model.AccessToken })" />
                            <div class="input-group-append">
                                <button type="submit" name="obtainAccessToken" class="btn btn-info">
                                    @T("Plugins.Payments.Square.ObtainAccessToken")
                                </button>
                                <nop-required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="LocationId_OverrideForStore" asp-input="LocationId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="LocationId" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="LocationId" asp-items="Model.Locations" asp-required="true" />
                        <span asp-validation-for="LocationId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Use3ds_OverrideForStore" asp-input="Use3ds" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Use3ds" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Use3ds" />
                        <span asp-validation-for="Use3ds"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="TransactionModeId_OverrideForStore" asp-input="TransactionModeId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="TransactionModeId" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="TransactionModeId" asp-items="@(await TransactionMode.Authorize.ToSelectListAsync(false))" />
                        <span asp-validation-for="TransactionModeId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3 mb-3">
                        <button type="submit" name="save" class="btn btn-primary">
                            @T("Admin.Common.Save")
                        </button>
                        @if (!Model.UseSandbox && !string.IsNullOrEmpty(Model.ApplicationId) && !string.IsNullOrEmpty(Model.ApplicationSecret) && !string.IsNullOrEmpty(Model.AccessToken))
                        {
                            <button type="submit" name="revokeAccessTokens" class="btn bg-red">
                                @T("Plugins.Payments.Square.RevokeAccessTokens")
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>